html {
  scroll-behavior: smooth;
}


/* GLOBAL FONT FAMILY */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica-Neue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Font older
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica-Neu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

//Special text font family

@font-face {
  font-family: "HurmeGeometricSans1";
  src: url("../fonts/HurmeGeometricSans1.otf") format("opentype");
}

.special-font {
  font-family: "HurmeGeometricSans1", Arial, Helvetica, sans-serif!important;
}

//Special text font family

@font-face {
  font-family: "Gotham XLight";
  src: url("../fonts/Gotham XLight Regular.otf") format("opentype");

  font-weight: lighter;
  font-style: normal;
}

// Special font for titles
@font-face {
  font-family: "Bauer Bodoni";
  src: url("../fonts/Bauer Bodoni Regular.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bauer Bodoni";
  src: url("../fonts/Bauer Bodoni Bold.otf") format("opentype");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bauer Bodoni";
  src: url("../fonts/Bauer Bodoni Italic.otf") format("opentype");

  font-weight: normal;
  font-style: italic;
}

.special-font-title {
  font-family: "Bauer Bodoni", Arial, Helvetica, sans-serif;
}

//Light font family

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.otf") format("opentype");

  font-weight: lighter;
  font-style: normal;
}

.font-light {
  font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
}


/* Globals */
[v-cloak] {
  display: none;
}

.user-select-none {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.disabled {
  pointer-events: none !important;
}

.border-bottom-primary {
  border-bottom: $primary-color solid 1px;
}

body {
  -webkit-font-smoothing: unset !important;
}

.hr-bottom-border {
  width: 150px;
  margin: auto;
  border-top: 2px solid rgba(0, 0, 0, 1);
}

.btn-primary {
  color: $secondary-color;
  a:hover {
    color: $secondary-color !important;
  }
}

.scale-on-hover {
  &:hover {
    transform: scale(1.03);
  }
  transition: 0.4s ease;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 999 !important;
}

.table-isopan {
  th {
    font-size: 0.9em;
    font-weight: bold;
  }
}

.my-10 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

h3,
h2 {
  letter-spacing: -1px;
}

p {
  line-height: 20px !important;
}

input.form-control::-webkit-input-placeholder {
  font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
}

input.form-control::-ms-input-placeholder {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

input.form-control::-moz-placeholder {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

input.form-control::-moz-placeholder {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* CART WIDGET */

#cart-widget {
  max-width: 320px;
  width: 100%;
  position: absolute;
  z-index: 100000;
  right: 0;
  top: 0;

  .transparent-background {
    background-color: rgba($color: $primary-color, $alpha: 0.85);
  }

  .cart-widget-product-name {
    font-size: 1rem;
  }

  .cart-widget-product-total {
    font-size: 0.85rem;
  }

  td {
    color: $secondary-color;
    p {
      margin-bottom: 0;
    }
  }

  th {
    color: $secondary-color;
  }

  tbody {
    display: block;
    overflow: auto;
    height: 350px;
    width: 100%;
  }

  thead {
    tr {
      display: flex;
      justify-content: flex-end;
    }
  }
  tfoot {
    text-align: center;
    color: $primary-color;
    background-color: $secondary-color;
    cursor: pointer;

    tr {
      display: flex;
      justify-content: center;
    }

    td {
      color: $primary-color;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

/* Video background */

.video-container {
  height: 200px;
  width: 100%;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .video-overlay {
    height: 300px;
    position: absolute;
    width: 100%;
    background-color: rgba($color: $secondary-color, $alpha: 0.25);
    z-index: 1;
  }

  .video-container-caption {
    top: 60px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

/* MENU */

// Solo para menus que se le debe cambiar el color al hacer scroll
.page-menu {
  transition: 0.3 ease;
}

.page-menu {
  width: 100%;
  background-color: $primary-color;
  .nav-item {
    &.active {
      border-bottom: $secondary-color solid 2.3px !important;
      font-weight: bold;
      a {
        color: white !important;
        background-color: none !important;
      }
    }
    a {
      color: white !important;
      font-family: "Gotham XLight" !important;
    }
  }

  &.home-menu-transparent {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    .nav-item {
      &.active {
        border-bottom: $secondary-color solid 2.3px !important;
        font-weight: bold;
        a {
          color: white !important;
          background-color: none !important;
        }
      }
      a {
        color: white !important;
      }
    }
  }
  &.bg-transition-primary.home-menu {
    background-color: $primary-color !important;
  }
  #menu-services-popover {
    position: absolute;
    background-color: white;
    padding: 25px;
    right: 20px;
    top: 80px;
    cursor: pointer;
    
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 15px;
    }
  }
}

.navbar {
  box-shadow: none;

  li {
    margin: 0 10px;
  }
  .navbar-nav .nav-link:not(.btn) {
    padding-top: 0;
    padding-bottom: 0;
    text-transform: initial;
    font-size: 0.9rem;
  }

  .navbar-toggler {
    background-color: $secondary-color !important;
    padding-left: 7px;
  }
  .navbar-toggler-bar {
    background-color: $primary-color !important;
  }
}

/* HOME */

.carousel-item {
  .video-container,
  .video-overlay {
    height: 100% !important;
  }
}

.top-content .carousel-item {
  height: 100vh;
  min-height: 400px;
}

.top-content .carousel-item img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.carousel-inner {
  box-shadow: none !important;
}

.carousel-caption {
  top: 30%;
  z-index: 10;
  color: $secondary-color;

  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
}

.carousel-control-netx,
.carousel-control-prev {
  z-index: 99 !important;
}

@media (max-width: 830px) {
  .carousel-caption {
    top: 25% !important;
  }
}

@media (max-width: 575px) {
  .top-content .carousel-item {
    max-height: 400px;
    height: 100vh !important;
  }

  .carousel-caption {
    .special-font {
      font-size: 2.4rem;
    }

    h1 {
      margin-bottom: 11px;
    }
  }

  #megasale-image-header {
    margin-top: 103px;
  }

  .megasale-menu.home-menu {
      background-color: $primary-color !important;
  }
}

// Directory Home
.directory-home-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: #f1f1f1;
  background-clip: content-box;
  padding: 30px;
  transition: 0.3s ease;
  img {
    width: fit-content;
    max-width: 65px;
    margin-top: -15px;
    transition: 0.3s ease;
  }
  p {
    margin-top: 10px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 50px;
    transition: 0.3s ease;
  }

  &:hover {
    background-color: $info-color;
    p {
      color: $white-color;
    }
    img {
      filter: invert(1);
    }
  }
}

.directory-item-active {
  background-color: $info-color;
  p {
    color: $white-color;
  }
}

.left-image-right-content,
.right-image-left-content {
  .content-side {
    padding: 0 3.5rem;

    p,
    h2 {
      width: 72%;
    }
  }
  img {
    width: 100%;
  }
}

.right-image-left-content {
}

/* ROOFTOP */

.rooftop-categories {
  .directory-home-item {
    p {
      font-size: 1.4rem;
      width: 75%;
    }
  }
}




/* PRODUCTS */

#categoriesMenu {
  border: $primary-color 1px solid;
  border-right: none;
  border-left: none;
  padding: 5px 0;
  li {
    .nav-link {
      padding: 0;
      margin: 0.5rem 1rem;
      font-weight: 100;
    }
    a {
      color: $link-disabled-color !important;
      border-bottom: rgba($color: #000000, $alpha: 0) 3px solid;
      &.active {
        color: $black-color !important;
        font-weight: 900;
        border-bottom: $primary-color 3px solid;
      }

      &:hover {
        color: $black-color !important;
        font-weight: 900;
        border-bottom: $primary-color 3px solid;
        transition: all 0.5s ease, font-weight 0.1s ease;
      }
    }
  }
}

.categories-card {
  border-radius: 30px !important;
  box-shadow: none;

  img {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    width: 100%;
    object-fit: cover;
  }

  .card-img-overlay {
    background-color: $primary-color;
    width: 100%;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    top: initial;
    right: initial;
    left: initial;
  }
}

.product-item-text {
  padding: 15px 5px;
  margin-bottom: 15px;
  min-height: 170px;
}

@media (max-width: 575px) {
  .top-content .carousel-item {
    max-height: 400px;
    height: 100vh !important;
  }

  .carousel-caption {
    .special-font {
      font-size: 2.4rem;
    }

    h1 {
      margin-bottom: 11px;
    }
  }
}

/* Directory */

#directory-search-input {
  input.form-control {
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .input-group-text {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}
.directory-categories {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    float: left;
    color: white;
    margin: 0 6px;
    .badge {
      background-color: rgba(0,0,0,0);
      border: 0.8px solid $secondary-color;
      min-width: 100px;
      cursor: pointer;
      
    }
    .badge-active {
      background-color: $secondary-color !important;
      color: $primary-color;
    }
  }
}

.directory-store-socials {
  a {
    margin: 0 5px;
  }
}

/* About us */
.about-us-malls-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
}

/* Directory */

.store-card {
  .image-container-store {
    border: 0.9px #dadada solid;
    width: 225px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;
    }
  }


  .store-location {
    font-size: 0.8rem;
  }
  
}

/* BRANCHES */

.branch-item {
  p {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 699px) {
  .horizontal-ul {
    flex-direction: column;
  }
}

/* Back to top */

#back-to-top-btn {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: $primary-color;
  text-align: center;
  color: $secondary-color;
  font-weight: 200;
  border-radius: 3px;
  right: 12px;
  cursor: pointer;
}

/* FOOTER */
.horizontal-ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  width: fit-content;
  border-top: $light-gray 1px solid;
  border-bottom: $light-gray 1px solid;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  li {
    float: left;

    a {
      display: block;
      color: $info-color;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    a:hover {
      background-color: $secondary-color;
      color: $primary-color !important;
    }
  }
}

footer {
  padding: 5% 5% 0 5%;

  color: $dark-gray !important;

  a {
    color: $dark-gray !important;
  }
}

#newsletter-input {
  background-color: $primary-color !important;
  color: $secondary-color !important;
  border-radius: 0;
  border-left: white solid 1px !important;
  border-right: white solid 1px !important;
}

#newsletter-btn {
  background-color: $secondary-color;
  color: $primary-color;
}

#floating-social-buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 10px;
  img {
    width: 40px;
    height: 40px;
  }
  z-index: 10;
}

.opening-times-table {
  th,
  td,
  p {
    text-align: left;
    color: $white-color;
    font-family: "Helvetica Neue Light";
  }

  th {
    width: 140px;
  }
}

#footer-sitemap {
  dt {
    padding: 5px;
    color: white;
    font-family: "Helvetica Neue Light";
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
